# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Misc
*.ipa
*.dSYM.zip
*.dSYM
*.hmap
*.moved-aside
